/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background-color: #f4f4f4;
    color: #222;
}

/* Content */
main {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.selector .tip {
    color: #525252;
    font-size: smaller;
    line-height: 1.2;

    max-width: 260px;
    margin: 10px auto;
}

.color-input {
    width: 160px;
    padding: 4px;
    font: inherit;
    border-radius: 9999px;
    border: 1px solid #222;
}

.clr-field button {
    width: 18px;
    height: 18px;
    left: auto;
    right: 5px;
    border-radius: 9999px;
}

.clr-field input {
    padding-left: 8px;
    font-size: small;
    color: #222;
}

/* Footer */
footer {
    text-align: center;
    font-size: smaller;
    padding: 12px;
    color: #BDBDBD;
    background-color: #2e2e2e;
}

footer a {
    color: #b2ffe5;
}